.articleBody {
  font-family: $zenterfont;

  &_container {
    background-color: $white;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 40px;
    padding-bottom: 120px;

    @media screen and (max-width: 990px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &_bodyHeadline {
    font-size: 24px;
    color: $primary;
    font-weight: 400;
  }

  &_bodyText {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

    &--italic {
      font-style: italic;
    }
  }
}

.information {
  &_container {
    border: 2px dashed $primary;
    background-color: rgba($primaryLight, 0.3);
    margin-top: 40px;
    padding: 20px;
  }
}
