//Primary colorvariables
$primary:  #03AEEF;
$primaryLight: #ABE1FA;

//Secondary colorvariables
$secondaryLight:  #29BFFF;
$secondary: #05223B;
$secondaryDark: #03182A;

//Tertiary colorvariables
$tertiaryLight: #FFB88F;
$tertiaryMedium: #F98581;
$tertiary: #Dd6A62;
$tertiaryDark: #DA504F;

//Greyscale colorvariables
$white: #ffffff;
$greyLight: #e5e5e5;
$grey:#bababa;
$greyMedium: #8c8c8c;
$greyDark: #707070;
$greyExtraDark: #2b2b2a;
$black:#000000;

//font variables
$Gibson-SemiBold: 'canada-type-gibson', sans-serif;
$Zenter-font: $Gibson-SemiBold;




